<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  background:#ddd;
}

.hatayazi{
  color:#444;
  font-size:80px;
  text-align:center;
  font-family: 'Roboto', sans-serif;
  font-weight:600;
  margin-top:180px;
}

.hatayazi2{
    color:#444;
  font-size:20px;
  text-align:center;
  font-family: 'Roboto', sans-serif;
  margin-top:15px;
  font-weight:500;
}

.button{
  background:#009688;
  padding:5px 10px;
  color:#fff;
  font-family: 'Roboto', sans-serif;
  text-align:center;
  width:100px;
  margin-left:620px;
  margin-top:20px;
  border-radius:2px
}

.button a{
  color:#fff;
  text-decoration:none;
}
</style>
<title>404</title>
<div class="hatayazi">404</div>
<div class="hatayazi2">Yanlış bir sayfa geri dönmek için hemen altımda bir buton var tıkla ona.</div>
<div class="button"><a href="https://marscodelist.glitch.me">Geri Dön</a></div>