<%- include('ek/header', {bot, user, path}) %>

<div class="alert alert-danger" role="alert">
 Kodları başka yerden paylaşmak kesinlikle yasaktır.
</div>

  <div class="bg-wrapper">
<a href="javascript:NoiseStyle('varsaydim')" style="background: black;">.</a>
<a href="javascript:NoiseStyle('white')" style="background: white;box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.18);">.</a>
  </div>
<div class="duyur-bana">
<h4>Hakkımızda</h4>
<p>Kod paylaşım sitesi discord.js - discord.js-commando kodlarını paylaşma amacı ile açılmıştır.
  </p></div>     
    
<div class="row">
  <div class="col-sm-6" style="margin-bottom:6px;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Discord.js</h5>
        <p class="card-text">Discord.js kodları ile botunuzu geliştire bilirsiniz.</p>
        <a href="/kodlar" class="btn btn-dark">Kodlar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Discord.js-commando</h5>
        <p class="card-text">Discord.js kodları ile botunuzu geliştire bilirsiniz.</p>
        <a href="/kodlar" class="btn btn-dark">Kodlar</a>
      </div>
    </div>
  </div>
   <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Kod İste</h5>
        <p class="card-text">Aradınız kodu bulamadınızmı o zaman isteyin</p>
        <a href="/kodiste" class="btn btn-dark">Tıklayın</a>
      </div>
    </div>
  </div>
   <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sunucu</h5>
        <p class="card-text">Sunucuya katılıp kodları görüntülemeye başlaya bilirsiniz.</p>
        <span class="sbutton" style="background:#343a40;"><i class="fab fa-discord"></i> <a href="https://discord.gg/aM7QgDg">Sunucuya katılmak için tıkla</a></span>
      </div>
    </div>
  </div>
</div>
<br>


<% include ./ek/footer %>